@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-animation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: animate;
  animation-name: animate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: linear-gradient(to right, #323232 8%, #3b3939 18%, #323232 33%);
  background-size: 800px 104px;
  height: 96px;
}